$(document).ready(function() {
  const $searchResults = $('.predictive-search');

  $(document).click(function(event) {
    const isClickInside = $searchResults.has(event.target).length > 0 || $searchResults.is(event.target);
    if (!isClickInside && $('body').hasClass('search-active')) {
      $('predictive-search button.text-subdued[type=reset]').trigger('click')
    }
  });

var productId = $('.main-similar-left').data('id');
  $.getJSON(`${Shopify.routes.root}recommendations/products?product_id=${productId}&limit=2`, function(data) {
    console.log(data);
    if(data.products.length > 0){
      $('#product-images').empty();
      let totalPrice = 0;
      data.products.forEach(product => {
          const variantId = product.variants[0]?.id || '';
          totalPrice += product.price;
          const productHTML = `<input type="hidden" name="comboid" value="${variantId}"><div class="bundled-product-image"><img src="${product.featured_image.url}" alt="${product.title}"></div>`;
          $('#product-images').append(productHTML);
      });
    $('#total-price').text(`$${(totalPrice / 100).toFixed(2)}`);
    }else{
      $('.main-similar-left').hide();
    }
  
  });
});
