/* banner-css */

.slideshow__carousel .subheading{
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.slideshow__carousel .h0{
  font-size: 60px;
  font-weight: 700;
}
.slideshow__carousel .button{
  padding: 22px 60px;
}
.slideshow__carousel .circle-button--bordered{
  border: none;
}
.slideshow__carousel .slideshow__controls{
  bottom: 50px;
  left: 50px;
}
.floating-controls-container .is-scrollable~.circle-button:not([disabled]) {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}